 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Android developer, Mobile app development instructor</p>
                    <p>Kotlin evangelist and Swift enthusiast</p>
                </div>
                <div class="col-lg-4">
                    <p>Android Mobile Developer, Architect at Globant </p>
                    <p>Mobile Architect at Mapsalud</p>
                    <p>Instructor at Academia móviles </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
